<div>

  <!-- example using angular2-flex -->
  <md-card class="source-card">
    <md-toolbar color="primary">Manage Source Podcasts</md-toolbar>
  <md-card-content>
    <div>
      <div layout="row">
        <div flex="33" class="fpink">
          List of Podcasts...
            <md-card *ngFor="let f of feeds"
              class="podcast-card" (click)="selectPodcast(f.id)">
              <md-card-header>
                <img md-card-avatar src="{{f.image_url}}">
                <md-card-title>{{f.name}}</md-card-title>
              </md-card-header>
            </md-card>
            <md-input placeholder="rss feed url" [(ngModel)]="newFeedUrl"
            class="feed-input"></md-input>
            <button md-raised-button color="primary" (click)="addFeed()">Add</button>
        </div>
        <div flex="66" class="fblue">
          <div *ngIf="selectedFeed">
            <b>{{selectedFeed.name}}</b>
            <span *ngIf="hideViewed" class="toggleViewed" (click)="hideViewed=!hideViewed">Show Viewed</span>
            <span *ngIf="!hideViewed" class="toggleViewed" (click)="hideViewed=!hideViewed">Hide Viewed</span>
            <div *ngIf="selectedDetails">
              <span *ngFor="let i of selectedDetails.items"
                [ngClass]="{'viewed': i.viewed, 'in_my_feed': i.in_my_feed}">
              <p *ngIf="!i.viewed || !hideViewed">
                <b>{{i.title}}</b>: {{i.description}}<br>
                <span *ngIf="i.viewed" (click)="i.viewed=0; updateItem(i)"><i class="material-icons md-18">visibility</i></span>
                <span *ngIf="!i.viewed" (click)="i.viewed=1; updateItem(i)"><i class="material-icons md-18">visibility_off</i></span>
                <span *ngIf="i.in_my_feed" (click)="i.in_my_feed=0; updateItem(i)"><i class="material-icons md-18">delete</i></span>
                <span *ngIf="!i.in_my_feed" (click)="i.in_my_feed=1; updateItem(i)"><i class="material-icons md-18">add_circle</i></span>
              <!-- <span [ngClass]="{'viewed': i.viewed, 'unviewed': !i.viewed}">viewed</span> -->
              </p>
              </span>
            </div>
          </div>
          <!--
          Details about one of the podcasts...
            <p *ngFor="let x of [1,2,3,4,5,6,7,8,9,0]">Detail {{x}}</p>
          -->
        </div>

      </div>
    </div>
  </md-card-content>
  </md-card>

</div>
